@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');

:root {
    --blue: #0b74fd;
    --red: #ff3030;
    --yellow: #ffff65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'poppins', 'Ping Fang TC','微軟正黑體','sans-serif';
}
a {
    text-decoration: none;
}

/* btn */
.btn {
    display: inline-block;
    text-decoration: none;
    color: #222;
    padding: 8px 25px;
    border-radius: 8px;
}
.btn-blue {
    background-color: var(--blue);
    color: #000;
    transition: 400ms;
}
.btn-blue:hover {
    background-color: #4c98fb;
}
.btn-yellow {
    background-color: var(--yellow);
}
.btn-dark {
    background-color: #222;
    color: #eee;
}
.btn-light {
    background-color: #eee;
    color: #222;
}

/* text-align */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
