<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis incidunt molestiae soluta illo dolor id accusantium officiis et, porro, consequuntur, voluptatem nihil natus ducimus iste dolorem maxime exercitationem animi.
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis incidunt molestiae soluta illo dolor id accusantium officiis et, porro, consequuntur, voluptatem nihil natus ducimus iste dolorem maxime exercitationem animi.
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis incidunt molestiae soluta illo dolor id accusantium officiis et, porro, consequuntur, voluptatem nihil natus ducimus iste dolorem maxime exercitationem animi.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quo impedit accusantium incidunt pariatur. Aut deserunt modi quidem, nulla recusandae beatae, voluptates commodi porro ea, sapiente minima quae et! Tempora!
            </div>
            <div class="col-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ex iste? Debitis dicta sequi eum. Nulla ea vero, porro, possimus eius magnam laboriosam minima quo laborum tempora dolor officia eligendi?
            </div>
            <div class="col-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eligendi alias blanditiis! Quibusdam tempore asperiores reiciendis quo, vel aliquam suscipit ratione atque, ipsum numquam ex id. Ex, voluptas? Necessitatibus, cum!
            </div>
        </div>
    </div>
</body>
</html>